<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jumelcoinstaladores">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jumelco_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_jumelco_logo_round"
        android:supportsRtl="true"
        android:theme="@style/base.Mytheme">
        <activity android:name=".citaActivity"/>
        <activity android:name=".goodbyeActivity" />
        <activity android:name=".finishActivity" />
        <activity android:name=".resultActivity" />
        <activity android:name=".telecoActivity" />
        <activity android:name=".airAconditionalActivity" />
        <activity android:name=".alarmActivity" />
        <activity android:name=".electricActivity" />
        <activity android:name=".officeActivity" />
        <activity android:name=".recoveryActivity" />
        <activity android:name=".singupActivity" />
        <activity
            android:name=".AuthActivity"
            android:theme="@style/splah">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>